.addPost {
    height: 5vh;
    display: grid;
    grid-template-columns: 5fr 1fr;
    padding-top: 30px;
    padding-bottom: 30px;
}
.addPost textarea {
    max-height: 5vh;
    min-height: 5vh;
    max-width: 58vw;
    min-width: 58vw;
}

.addPost button {
    max-height: 5.6vh;
}