.Profile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 6.5vh);
}

.profileArea {
    background-color: rgba(0, 128, 0, .6);
    width: 70vw;
    height: 70vh;
    border-radius: 35px;
    overflow: auto;
}

.avatar {
    display: grid;
    grid-template-columns: 1fr 4fr;
    position: relative;
    top: -35vh;
    /*transform: scale(0.9);*/
    /*box-shadow: 0px 0px 20px 25px;*/
    /*border-radius: 35px;*/
}

.ava:hover {
    cursor: pointer;
}

.posts {
    position: relative;
}

.description {
    position: relative;
    top: -45vh;
    margin: -25px 300px 0px 300px;
    border-radius: 10px;
    transition: background .15s, opacity .15s;
}

.description:hover {
    background: #616161;
    opacity: .8;
}
















