.Users {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 6.5vh);
}

.usersArea {
    background-color: rgba(0, 128, 0, .6);
    width: 70vw;
    height: 70vh;
    border-radius: 35px;
    overflow: auto;
}

.User {
    margin: 30px;
    background: #0e1d27;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.userData {
    color: #f9c300;
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
    justify-content: center;
}

.userAvatarImg {
    width: 100px;
    height: 100px;
    margin: 30px;
}

.followingButton button {
    background: #f9c300;
    color: #0e1d27;
    border-radius: 30px;
    width: 100px;
    height: 100px;
    margin: 30px;
}

.userName {
    outline: none;
    text-decoration: none;
    color: #f9c300;
}

.pages {
    margin-top: 30px;
}

.currentPage {
    font-size: 20px;
    font-weight: bolder;
}

.page {
    margin: 5px;
    cursor: pointer;
}

.page:hover {
    color: #f9c300;
}

.navs {
    margin: 5px;
    cursor: pointer;
    color: black;
    font-weight: bolder;
    font-size: 25px;
}

.navs:hover {
    color: #f9c300;
}

.preloader {
    margin: 50px;
}