.User {
    margin: 30px;
    background: #0e1d27;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.userData {
    color: #f9c300;
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.userAvatarImg {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: 30px;
}

.isFollowedButton button {
    background: #f9c300;
    color: #0e1d27;
    border-radius: 30px;
    width: 100px;
    height: 100px;
    margin: 30px;
}