.App {
  text-align: center;
  /*background-image: url("images/bg.jpg");*/
  background-image: url("images/Ann.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

